.home {
    width: 100%;
    min-height: 100vh;
}

.restaurants-list {
    list-style: none;
}
.restaurants-list p{
    border-top: 1px solid black;
    font-size: 0.8rem;
    color: darkgrey;
    text-decoration: none;
}

.restaurants-list h3{
    color: black;
    text-decoration: none;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #fff
}

.restaurants-list-item:hover {
    box-shadow: 0px 0px 5px 0px grey
}

.rating span {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1;
    user-select: none;
}